.about {
  background: $light;
  padding: 50px 0 70px 0;
  .wrapper {
    display: flex;
    flex-direction: column;
    .imgContainer { 
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 2px solid $accent2;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      img {
        position: absolute;
        top: -40px;
      }
    }
    p {
      text-align: center;
      font-size: 1.5rem;
      width: 60%;
      align-self: center;
    }
  }
}

