// Hello...
.greeting {
  -webkit-animation: greeting 2s both;
  animation: greeting 2s both;
}

@keyframes greeting {
  0% {
    opacity: 0;
    transform: scale(4);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

// I am
.slideIn {
  opacity: 0;
  -webkit-animation: slideIn 1s both;
  animation: slideIn 1s both;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

// whole greeting
.second {
  animation: slideIn 1.5s both;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

//top arrow
.animateBounce {
  animation: bounces; 
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes bounces {
  20% {
      transform: translateY(-20px);
  }
  25% {
      transform: translateY(0px);
  }
  30% {
    transform: translateY(-20px);
  }
  35% {
    transform: translateY(0px);
  }
}

//img change
.about {
  .imgContainer {
    img {
    animation: imageChange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    }
  }
}

@keyframes imageChange {
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}

//footer let's meet
.animate__pulse {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}