.projects {
  padding: 20px 0;
  background: $light;
  .projectContainer {
    display: flex;
    flex-wrap: wrap;
  }
}


.project {
  text-align: center;
  padding: 20px 0;
  img {
    border: 2px solid $neutral;
    border-bottom: none;
  }
  .textContainer {
    padding: 10px 0 5px 0;
    background: white;
    border: 2px solid $neutral;
    border-top: none;
    h3 {
      border-bottom: 2px solid $accent2;
      padding: 0;
    }
    h4 {
      padding: 5px 0;
    }
    p {
      font-size: 1.5rem;
      line-height: 20px;
    }
  }
  .linkContainer {
    display: flex;
    justify-content: space-around;
    a {
      background: $accent2;
      &:hover,
      &:focus {
        transition: $hoverState;
        background: $accent1;
      }
    }
  }
}