.skills {
  background: $dark;
  color: $light;
  padding: 40px 0 60px 0;
  position: relative;
  .iconContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10px;
    i {
      font-size: 4rem;
      padding: 15px 10px;
      &:hover,
      &:focus {
        transition: $hoverState;
        color: $accent1;
      }
    }
  }
  h3 {
    border-top: 3px solid $light;
    padding-top: 10px;
  }
}