html {
  font-family: $font;
}

h1 {
  font-size: 3.6rem;
  font-family: $font2;
}

h2 {
  font-size: 3.5rem;
  padding: 15px 0;
  text-align: center;
  color: $dark;
  font-family: $font2;
}

.skills h2,
.contact h2 {
  color: $light;
}

h3 {
  font-size: 1.8rem;
  font-weight: $reg;
  font-family: $font2;
  padding-bottom: 8px;
  text-align: center;
}

h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $dark;
}

.linkContainer a {
  font-family: $font2;
}