// Colors
$dark: #221341;
// $light: #E4D9FF;
$light: #DED7F0;
// $accent1: #E07A5F;
// $accent1: #de856c;
$accent1: #E5B769;
// $accent1: #80CFA9;
// $accent2: #568EA3;
$accent2: #44BBA4;
// $accent2: #B0413E;
$neutral: #FAFAFF;



// Fonts
$font: 'Barlow', sans-serif;
$font2: 'Red Hat Display', sans-serif;
$bold: 700;
$reg: 400;