// Colors
$dark: #221341;
$light: #DED7F0;
$accent1: #E5B769;
$accent2: #44BBA4;
$neutral: #BBC0C3;



// Fonts
$font: 'Barlow', sans-serif;
$font2: 'Red Hat Display', sans-serif;
$bold: 700;
$reg: 400;


// Transition
$hoverState: all 0.3s ease;