// Colors
$dark: #221341;
// $light: #E4D9FF;
$light: #DED7F0;
// $accent1: #E07A5F;
// $accent1: #de856c;
$accent1: #E5B769;
// $accent1: #80CFA9;
// $accent2: #568EA3;
$accent2: #44BBA4;
// $accent2: #B0413E;
$neutral: #FAFAFF;


// $dark: #221341;
// $light: #C4CBCA;
// $accent1: #3CBBB1;
// $accent2: #EE4266;
// $neutral: #656256;

// $dark: #221341;
// $light: #D6FFF6;
// $accent1: #D6C3C9;
// $accent2: #98473E;
// $neutral: #B49082;


// $dark: #221341;
// $light: #786f52;
// $accent1: #F71735;
// $accent2: #C2095A;
// $neutral: #FEB95F;


// $dark: #6A396A;
// $light: #DBF9F4;
// $accent1: #5F7367;
// $accent2: #E6FDFF;
// $neutral: #D9D7DD;


// $dark: #6A396A;
// $light: #CDD1C4;
// $accent1: #5C80BC;
// $accent2: #E8C547;
// $neutral: #DD6E42;

// Fonts

// Weights?